.pr-list-item {
    &--0 {
        background: #18d360;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    &--1 {
        background-color: #e7d6b2f1;
        color: black;
    }
    &--2 {
        background-color: #4dd9f5;
        color: black;
    }
    &--3 {
        background-color: #FDD835;
        color: black;
    }
    &--4 {
        background-color: #616161;
        color: white;
    }
}