.messenger_input_container{
  width: 100%;
  height: auto;
  border-top: 2px solid rgba(16, 16, 16, 0.69);
  padding: 0px 10px 0px 10px;

}

.messenger_inputs{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  svg{
    transition: 1s;
  }
  svg:hover{
    color: white;
    transition: 1s;
  }
}


.input_white_font {
  input:focus, input{
    color: white;
  }
}

